<div class="mtl">
	<div class="bottom-menu bottom-menu-inverse">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-2">
					<a href="#" class="bottom-menu-brand">BigWhoop</a>
				</div>
				<div class="col-md-8 col-sm-8">
					<ul class="bottom-menu-list">
						<li><a href="#">About Us</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Follow Us</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Links</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-sm-2">
					<ul class="bottom-menu-iconic-list">
						<li><a href="#" class="fui-github"></a></li>
						<li><a href="#" class="fui-facebook"></a></li>
						<li><a href="#" class="fui-twitter"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>