<section>
	<div class="jumbotron text-center">
		<br>
		<div class="row">
			<p class="lead">
				<h2>Global Spectrum Monitoring.</h2> 
				Measuring everything! The AerospaceResearch.net team is working on the Distributed Ground Station Network for tracking small satellites and its proof-of-concept project BigWhoop, a global sensor grid for radio spectrum monitoring with software defined radio. BigWhoop will monitor the radio frequencies globally with your help! Because we will use our existing Constellation platform, a network of more than 60000 computers world wide whore those sensors will be plugged. By this, we will turn those PCs in sensor nodes for RF reception. On of those tasks it will to will be the air traffic control. But you will be able to add more tasks, because it will be open-source and you can add and change it as you like it. Come, and join our project! Measure everything!
			</p>
		</div>
	</div>
</section>
