<section>
	<div class="jumbotron text-center">
		<br>
		<div class="row">
			<p class="lead">
				<h2>Global Spectrum Monitoring.</h2> 
				Measuring everything! The AerospaceResearch.net team is working on the Distributed Ground Station Network for tracking small satellites and its proof-of-concept project BigWhoop, a global sensor grid for radio spectrum monitoring with software defined radio. BigWhoop will monitor the radio frequencies globally with your help! Because we will use our existing Constellation platform, a network of more than 60000 computers world wide whore those sensors will be plugged. By this, we will turn those PCs in sensor nodes for RF reception. On of those tasks it will to will be the air traffic control. But you will be able to add more tasks, because it will be open-source and you can add and change it as you like it. Come, and join our project! Measure everything!
			</p>
		</div>
	</div>
	<div class="container text-center">
			<div class="row">
				<div class="col-lg-10">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
							<div class="tile">
								<img src="/modules/core/img/earth.svg" alt="Compas" class="tile-image big-illustration">
								<h3 class="tile-title">Global</h3>
								<p>Watch data from the world.</p>
								<a class="btn btn-primary btn-large btn-block" href="#">Find out!</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
							<div class="tile">
								<img src="/modules/core/img/map.svg" alt="Infinity-Loop" class="tile-image">
								<h3 class="tile-title">Interactive Map</h3>
								<p>Google Maps' Based.</p>
								<a class="btn btn-primary btn-large btn-block" href="#">Find out!</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
							<div class="tile">
								<img src="/modules/core/img/file.svg" alt="Pensils" class="tile-image">
								<h3 class="tile-title">Send your data</h3>
								<p>Send your own data.</p>
								<a class="btn btn-primary btn-large btn-block" href="#">Find out!</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
							<div class="tile">
								<img src="/modules/core/img/pc.svg" alt="Chat" class="tile-image">
								<h3 class="tile-title">Easily set up</h3>
								<p>Set it up in you PC.</p>
								<a class="btn btn-primary btn-large btn-block" href="#">Find out!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
