html { 
  color: #333;
  font-family: sans-serif;
  font-size: 16pt;
  font-weight: 100;
  line-height: 1.4em;
}
section { margin:5px;  padding:15px; font-weight:100; line-height: 1.4em; position:relative;}
h1 { text-align:center; margin-top:50px; }
/* .plan h2 { font-weight:bold; text-align:center; font-size: 1.4em; font-weight:100; margin:0; padding:10px; padding-top:0;  }
.plan { background:rgba(0,0,0,.05); padding:15px; width:400px; margin:auto;}
.plan .description { background:rgba(255,255,255,.9);  padding:10px;}  */
.btn {
  padding:10px 12px;
  color:white;
  border:none;
  font-size:.8em;
  font-weight:100;  
  display:block;
  margin:auto;
  cursor:pointer;
  background:rgba(0,0,0,.8);
}
a.btn {
  padding:10px 12px;
  color:white;
  border:none;
  font-size:.8em;
  font-weight:400;  
  margin:auto;
  cursor:pointer;
  display:inline;
  background:rgba(0,0,0,.8);
  text-decoration:none;
  -webkit-transition:.2s ease all;
  transition:.2s ease all;
}
a.btn:hover {
  background:rgba(0,0,0,.9);
}
.hot-cta {
  background:rgba(236, 30, 30, 0.85) !important; 
}
.hot-cta:hover {
  background:rgba(236, 30, 30, 1) !important; 
}
.hot { color:#ec1e1e; }
a { font-weight:bold; }
.btn-wrapper { text-align:center; }